@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@500&display=swap');

/*variables en css */

/* :root {

} */

* {
  font-family: 'Roboto', sans-serif;
  color: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: #020021;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }

  .logo img {
    height: 4rem;
    margin-left: 8rem;
    margin-top: 3rem;
  }

  main {
    display: flex;
    justify-content: space-around;
    padding: 2%;
    color: white;
  }
  
  .header-links a {
    color: white;
    text-decoration: none;
    margin-right: 3rem;
    font-weight: bold;

  }

  a {
    padding: 0 1rem;
  }

  a:hover {
    color: #00F17A;
    border-right: lightgray solid 1px;
  }


  .circle {
    display: none;
  }

  h1 {
    font-size: 550%;
    margin: 0;
  }

  #image-container {
    position: relative;
  }

  .hit-me {
    background-color: #00F482;
    color: white;
    padding: 0.925rem 4.5rem;
  }

  button {
    border: none; 
    font-size: 1.125rem;
    justify-content: center;
    border-radius: 1.875rem;
    margin-top: 1rem;
}

  .sound {
    position: absolute;
    display: none;
  }

  .img {
    filter: drop-shadow(20px 0px 100px #221A3F);
  }

  .hand-cursor {
    cursor: url(img/drumstick.png), auto;
  }

   footer {
    text-align: center;
  }
  
  .princing {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 0.725rem 3.5rem;
    margin-bottom: 5rem;
  }

  h3 {
    color: #484262;
  }
  h2, h3, .pricing {
    display: block;
    font-weight: bold;
    margin: 10px auto; 
  }

.text {
  display: none;
}

.menu-toggle {
  display: none;
}


@media only screen and (max-width: 900px)  {

  .mobile-nav {
    padding-top: 32px !important;
    top: 0 !important;
  }
  
  .mobile-nav a {
    display: block;
    margin-bottom: 8px;
  }
  
  .mobile-nav a:hover {
    color: #080527;
  }

  .menu-toggle {
    display: block;
    background-color: #00F482;
    color: white;
    border: none;
    border-radius: 1.875rem;
    width: 80px;
    height: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 5px 5px 5px 25px;
    position: relative; 
    z-index: 2;
    margin-bottom: 10rem;
  }

  .logo img {
    margin-left: 3rem;
  }

  .header-links {
    display: none;
  }

  .header-links.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #020021;
    padding: 1rem;
    text-align: center;
    display: block; 
    top: calc(100% + 10px);
    right: 0; 
    background-color: #00F482;
  }

  h1 {
    font-size: 400%;
  }

  main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 8rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
    background-color: #131313;
    border: 2px solid #414141;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.text {
  display: flex;
  color: #414141;
  font-size: 24px;
  font-weight: bold;
}
  
  .main-left {
    text-align: center;
    order: 1;
  }

  .text-container {
    margin-top: 2rem;
  }

  #image-container {
    margin-top: 2rem;
  }

  .img {
    width: 100%;
    max-width: 350px;
    position: sticky;
  }

  .menu-toggle.show + #menu {
    display: block;
  }
  
}
